<% if @boards %>

    <h1>Hello, <%= current_user.username %></h1>
    <h4>You have <%= @boards.length.to_s %> Idea Boards created!</h4>

    <% @boards.each do |board| %>

        <h5> <%= board.title %> </h5>
        <%= image_tag("landscaping/3.jpg") %>

    <% end %>

<% else %>

    <h1>
        No Boards yet, create one
        <%= link_to "here", new_board_path %>
    </h1>

<% end %>