<h2><%= @board.title %></h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Favorite</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">Landscape</th>
            <%= if @board.landscaping_id %>
                <td>
                    <%= image_tag("landscaping/" + @board.landscaping_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Landscape Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Hardscape</th>
            <%= if @board.hardscaping_id %>
                <td>
                    <%= image_tag("hardscaping/" + @board.hardscaping_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Hardscape Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Pool</th>
            <%= if @board.custom_pool_id %>
                <td>
                    <%= image_tag("custom_pool/" + @board.custom_pool_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Pool Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Masonry</th>
            <%= if @board.atrisan_masonry_id %>
                <td>
                    <%= image_tag("artisan_masonry/" + @board.atrisan_masonry_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Masonry Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Carpentry</th>
            <%= if @board.carpentry_id %>
                <td>
                    <%= image_tag("carpentry/" + @board.carpentry_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Carpentry Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Outdoor Lighting</th>
            <%= if @board.outdoor_lighting_id %>
                <td>
                    <%= image_tag("outdoor_lighting/" + @board.outdoor_lighting_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Outdoor Lighting Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Outdoor Kitchen</th>
            <%= if @board.outdoor_kitchen_id %>
                <td>
                    <%= image_tag("outdoor_kitchen/" + @board.outdoor_kitchen_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Outdoor Kitchen Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Outdoor Fireplace</th>
            <%= if @board.outdoor_fireplace_id %>
                <td>
                    <%= image_tag("outdoor_fireplace/" + @board.outdoor_fireplace_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Outdoor Fireplace Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Water Feature</th>
            <%= if @board.water_feature_id %>
                <td>
                    <%= image_tag("water_feature/" + @board.water_feature_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Water Feature Selected
                </td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Fire Pit</th>
            <%= if @board.fire_pit_id %>
                <td>
                    <%= image_tag("fire_pit/" + @board.fire_pit_id.to_s + ".jpg", :class => "show-image") %>
                </td>
            <% else %>
                <td>
                    No Fire Pit Selected
                </td>
            <% end %>
        </tr>

    </tbody>
</table>